.movies-list{
    max-width: 1140px;
    margin: 0 70px;
    padding: 70px 0 0;
}

.movies-list__container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 38px 20px;
    list-style: none;
}

@media screen and (max-width: 768px){
    .movies-list{
        margin: 0 30px;
        padding: 70px 0 0;
    }

    .movies-list__container{
        grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
        grid-auto-flow: dense;
        gap: 30px 30px;
    }
}

@media screen and (max-width: 700px){
    .movies-list__container{
        justify-items: center;
    }
}

@media screen and (max-width: 370px){
    .movies-list__container{
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 0 34px;
    }
}

@media screen and (max-width: 320px){
    .movies-list{
        padding: 40px 0 0;
        margin: 0 10px;
    }
}