.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease 0s, opacity 0.9s ease 0s;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup_opened{
  visibility: visible;
  opacity: 1;
}

.popup__infotooltip-heading {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 83.25%;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
}

.popup__close-icon {
  position: absolute;
  background-image: url("../../images/close-icon.svg");
  background-color: transparent;
  border: 0;
  width: 32px;
  height: 32px;
  background-size: cover;
  top: -40px;
  right: -40px;
  transition: opacity 0.2s linear;
  opacity: 1;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

.popup__container {
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 150px;
  background-color: dimgray;
  border-radius: 10px;
  position: relative;
  cursor: initial;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .popup__container {
    max-width: 430px;
  }
}

@media screen and (max-width: 520px) {
  .popup__infotooltip-heading {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 75px;
  }

  .popup__close-icon {
    right: 0;
  }

  .popup__container {
    width: 88.125%;
  }
}

@media screen and (max-width: 320px) {
  .popup__infotooltip-heading {
    width: 85%;
  }

  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -32px;
  }

  .popup__container {
    min-height: 322px;
  }
}
