.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: white;
}

.nav__links-container_justify_end{
   justify-content: flex-end;
   font-weight: 500;
}

.nav__links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__profile{
    width: 100px;
    height: 32px;
    border-radius: 40px;
    color: white;
    font-family: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.nav__profile:hover{
    box-shadow: 0 3px 14px 0 rgba(0,0,0,0.08);
}

.nav__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease-in;
    opacity: 1;
}

.nav__link-unathorized{
    margin-right: 30px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease-in;
    opacity: 1;
}

.nav__link-unathorized:last-of-type{
    margin-right: 0;
}

.nav__link:last-of-type{
    margin-right: 0;
}

.nav__link_active{
    font-weight: 500;
}

.nav__link-text{
    margin: 0;
    padding: 0;
}

.nav__link-unathorized{
    font-size: 10px;
}

.nav__link_unathorized_green {
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background-color: #3DDC84;
    color: black;
}

.nav__profile-text{
    margin: 0;
}

.nav__profile-icon{
    background-image: url('../../images/profile-icon.svg');
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #313131;
    border-radius: 50%;
    margin: 3px 3px 3px 7px;
}

.nav__link:hover{
    opacity: .7;
}

.nav__link-unathorized:hover{
    opacity: .7;
}

@media screen and (max-width: 320px){
    .nav__link_margin{
        margin-right: 14px;
    }

    .nav__link-unathorized{
        font-size: 10px;
        margin-right: 14px;
    }

    .nav__link_unathorized_green{
        width: 54px;
        height: 26px;
    }
}