.filter-checkbox{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    grid-area: search;
    align-items: center;
}

.filter-checkbox__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.filter-checkbox__switch{
    cursor: pointer;
    margin-right: 14px;
    display: block;
    width: 36px;
    height: 20px;
    background: url('../../images/smalltumboff.svg');
    background-position: center;
    background-size: 36px 20px;
    background-repeat: no-repeat;
}

.filter-checkbox__input:checked + .filter-checkbox__switch {
    background: url('../../images/smalltumb.svg');
}

.filter-checkbox__label{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 768px){
    .filter-checkbox{
        margin-right: 20px;
    }
}

@media screen and (max-width: 650px){
    .filter-checkbox{
        grid-area: small-films;
        margin: 43px auto 45px;
    }
}

@media screen and (max-width: 320px){
    .filter-checkbox__label{
        font-size: 11px;
    }
}